# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Logs and databases
*.log
*.sqlite3

# Local configuration file
local_settings.py

# Miscellaneous
*.bak
*.swp
.DS_Store

# digrams
*.drawio

#temp files
test_tokens_1.txt
test_tokens_2.txt
test.txt
test_porter.py
compare_stems.py
try.py