body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Change aquamarine to a lighter shade */
    color: #333; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth color changes */

}

h1 {
    color: #1E90FF;
    text-align: center; /* Center-align the heading */
    margin-top: 20px; /* Add some space at the top */
}

p {
    color: inherit; /* Use the default text color */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

/* Improve the suggestions container */
#suggestions-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
    width: 300px; /* Adjust width as needed */
    margin-right: 20px; /* Adjust the margin */
    float: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    background-color: #fff; /* Light background color */
}

/* Style the suggestions list */
#suggestions-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

#suggestions-list li {
    margin: 0;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease; 
}

#suggestions-list li:hover {
    background-color: #a1c7cc; 
}

.copy-btn {
    display: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 5px;
}

.copy-btn:hover {
    background-color: #6bd142;
    transition: background-color 0.3s ease; 
}

#query {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#content {
    width: 80%;
    text-align: center; /* Center text within container */
}

#searchBtn {
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#searchBtn:hover {
    background-color: #3367d6;
}

#suggestions-container,
#search-results-container {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode input,
.dark-mode button,
.dark-mode #suggestions-container {
    background-color: #444;
    border-color: #444;
    color: #fff;
}

.dark-mode #suggestions-list li {
    background-color: #555;
    border-bottom: 1px solid #666;
}

.dark-mode .copy-btn {
    background-color: #4CAF50;
}

.dark-mode .copy-btn:hover {
    background-color: #6bd142;
}

