<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>

                <label for="query">Enter a query</label>
                <input type="text" id="query" name="query" placeholder="WORD1 AND WORD2 | WORD1 WORD2 /k ">

                <button id="searchBtn" class="btn btn-primary">Search</button>

                <div class="form-check form-switch mt-3">
                    <input class="form-check-input" type="checkbox" id="darkModeToggle">
                    <label class="form-check-label" for="darkModeToggle">Dark Mode</label>
                </div>

                <div id="suggestions-container" class="mt-4">
                    <h3>Suggestions..</h3>
                    <ul id="suggestions-list"></ul>
                </div>

                <div id="search-results-container" class="mt-4">
                    <h3>Search Results</h3>
                    <ul id="search-results-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
