.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Arail', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #5c67f2;
  align-items: center;
}

.search-container {
  max-width: 90%;
  min-height: 90vh;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  overflow: auto; /* Add overflow property */
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #5c67f2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:disabled {
  background-color: #ccc;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestions {
  position: absolute; 
  top: 24%; 
  right: 14%; 
  width: 200px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-height: auto;
  overflow-y: auto;
  margin-top: 20px;
  max-width: 30%;
}

.results-container {
  margin-top: 20px;
  max-width: 70%;

}

.suggestions, .search-results, .corrections {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f8f8f8;
}

h2 {
  color: #5c67f2;
}
