.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background: #f4f4f9;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #5c67f2;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #434cdf;
}

button:disabled {
  background-color: #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f9f9f9;
}

h2 {
  color: #333;
  padding-left: 20px;
}
